In [1]:
from whatif.experiments.credit_data_corruptions_naive import do_credit_corruption_naive, \
    measure_credit_corruption_naive_exec_time
from whatif.experiments.credit_data_corruptions_opt import do_credit_corruption_opt, \
    measure_credit_corruption_opt_exec_time
from whatif.experiments.helpful_reviews_data_corruptions_naive import do_review_corruption_naive, \
    measure_review_corruption_naive_exec_time
from whatif.experiments.helpful_reviews_data_corruptions_opt import do_review_corruption_opt, \
    measure_review_corruption_opt_exec_time
from whatif.utils.utils import get_project_root

def save_to_csv(df, filename):
    df.to_csv(f'{str(get_project_root())}/whatif/experiments/results/{filename}.csv',
              index=False)

In [2]:
corruption_qualitative_review_corruption_naive = do_review_corruption_naive(debug=False,
                                                                          corruption_percentages=[0.2, 0.5, 0.9],
                                                                          corrupt_features=["star_rating", "verified_purchase", "review_headline"])
save_to_csv(corruption_qualitative_review_corruption_naive, "corruption_qualitative_review_corruption_naive")
corruption_qualitative_review_corruption_naive

,test_corruption,train_corruption,corruption_fraction,feature,roc_auc,f1
0,False,False,NaN,None,0.601900,0.595836
1,False,True,0.2,star_rating,0.592103,0.592516
2,True,True,0.2,star_rating,0.593287,0.535685
3,False,True,0.5,star_rating,0.584115,0.591470
4,True,True,0.5,star_rating,0.569499,0.571836
5,False,True,0.9,star_rating,0.567841,0.517675
6,True,True,0.9,star_rating,0.588615,0.551218
7,False,True,0.2,verified_purchase,0.603107,0.592270
8,True,True,0.2,verified_purchase,0.602677,0.589833
9,False,True,0.5,verified_purchase,0.602724,0.581546
10,True,True,0.5,verified_purchase,0.599308,0.569086
11,False,True,0.9,verified_purchase,0.605348,0.593446
12,True,True,0.9,verified_purchase,0.606051,0.590328
13,False,True,0.2,review_headline,0.605845,0.597984
14,True,True,0.2,review_headline,0.605210,0.597759
15,False,True,0.5,review_headline,0.598977,0.583606
16,True,True,0.5,review_headline,0.598541,0.577877
17,False,True,0.9,review_headline,0.598879,0.595570
18,True,True,0.9,review_headline,0.607696,0.613544

In [3]:
review_corruption_naive_exec_times = measure_review_corruption_naive_exec_time(debug=False,
                                                                               corruption_percentages=[0.2, 0.5, 0.9],
                                                                               corrupt_features=["star_rating", "verified_purchase", "review_headline"],
                                                                               repeats=30)
save_to_csv(review_corruption_naive_exec_times, "review_corruption_naive_exec_times")
review_corruption_naive_exec_times

Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!

     runtimes
0   76.868191
1   73.025943
2   73.020122
3   72.676763
4   72.605270
5   72.389871
6   72.665069
7   72.484092
8   72.133285
9   72.468354
10  72.602636
11  72.112036
12  72.399783
13  72.418259
14  73.655586
15  73.032610
16  72.606631
17  72.591323
18  72.488645
19  72.422779
20  72.577077
21  72.789030
22  73.058751
23  72.420273
24  72.249086
25  72.674936
26  72.571691
27  72.844578
28  72.026914
29  72.147342

In [4]:
# Other params hard-coded currently
# corruption_percentages=[0.2, 0.5, 0.9], corrupt_features=["star_rating", "verified_purchase", "review_headline"]
corruption_qualitative_review_corruption_opt = do_review_corruption_opt(debug=False)
save_to_csv(corruption_qualitative_review_corruption_opt, "corruption_qualitative_review_corruption_opt")
corruption_qualitative_review_corruption_opt

,test_corruption,train_corruption,corruption_fraction,feature,roc_auc,f1
0,False,False,NaN,None,0.602678,0.591443
1,True,False,0.2,star_rating,0.586605,0.588328
2,True,False,0.5,star_rating,0.576815,0.584005
3,True,False,0.9,star_rating,0.551084,0.509179
4,True,False,0.2,verified_purchase,0.602678,0.591443
5,True,False,0.5,verified_purchase,0.602678,0.591443
6,True,False,0.9,verified_purchase,0.602678,0.591443
7,True,False,0.2,review_headline,0.604129,0.592139
8,True,False,0.5,review_headline,0.604981,0.593797
9,True,False,0.9,review_headline,0.602868,0.589660
10,True,True,0.2,star_rating,0.584944,0.580844
11,True,True,0.5,star_rating,0.558878,0.554536
12,True,True,0.9,star_rating,0.538660,0.524983
13,True,True,0.2,verified_purchase,0.605462,0.605409
14,True,True,0.5,verified_purchase,0.607183,0.608677
15,True,True,0.9,verified_purchase,0.597661,0.557834
16,True,True,0.2,review_headline,0.603235,0.595027
17,True,True,0.5,review_headline,0.599058,0.570024
18,True,True,0.9,review_headline,0.596965,0.558745

In [2]:
# Other params hard-coded currently
# corruption_percentages=[0.2, 0.5, 0.9], corrupt_features=["star_rating", "verified_purchase", "review_headline"]
review_corruption_opt_exec_times = measure_review_corruption_opt_exec_time(debug=False, repeats=30)  # 30
save_to_csv(review_corruption_opt_exec_times, "review_corruption_opt_exec_times")
review_corruption_opt_exec_times

Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!

     runtimes
0   16.394759
1   12.322357
2   12.319130
3   12.132928
4   12.127887
5   12.612986
6   12.659735
7   12.173556
8   11.996349
9   12.041770
10  11.967902
11  12.453288
12  12.208182
13  12.047465
14  12.059586
15  12.214868
16  12.045820
17  12.366897
18  11.871463
19  12.232173
20  12.196489
21  11.853076
22  12.157053
23  12.112777
24  12.073564
25  12.352801
26  12.186633
27  12.654836
28  12.076675
29  12.581413

In [3]:
corruption_qualitative_credit_corruption_naive = do_credit_corruption_naive(debug=False,
                                                                          corruption_percentages=[0.2, 0.5, 0.9],
                                                                          corrupt_features=["age", "workclass", "education"])
save_to_csv(corruption_qualitative_credit_corruption_naive, "corruption_qualitative_credit_corruption_naive")
corruption_qualitative_credit_corruption_naive

,test_corruption,train_corruption,corruption_fraction,feature,accuracy,non_protected_fnr,protected_fnr
0,False,False,NaN,None,0.819714,0.319031,0.409326
1,False,True,0.2,age,0.699656,0.591461,0.743902
2,True,True,0.2,age,0.812178,0.330194,0.428571
3,False,True,0.5,age,0.549782,0.685016,0.819266
4,True,True,0.5,age,0.812045,0.322314,0.398810
5,False,True,0.9,age,0.387479,0.720364,0.831114
6,True,True,0.9,age,0.815814,0.233224,0.333333
7,False,True,0.2,workclass,0.819979,0.344178,0.435780
8,True,True,0.2,workclass,0.819582,0.308839,0.405882
9,False,True,0.5,workclass,0.817334,0.356635,0.432900
10,True,True,0.5,workclass,0.820309,0.293615,0.389222
11,False,True,0.9,workclass,0.814359,0.321628,0.417112
12,True,True,0.9,workclass,0.816409,0.321693,0.427835
13,False,True,0.2,education,0.814492,0.335181,0.451777
14,True,True,0.2,education,0.812905,0.353024,0.444444
15,False,True,0.5,education,0.804509,0.265326,0.309524
16,True,True,0.5,education,0.813500,0.326923,0.418605
17,False,True,0.9,education,0.807880,0.308067,0.422222
18,True,True,0.9,education,0.805633,0.388305,0.481818

In [4]:
credit_corruption_naive_exec_times = measure_credit_corruption_naive_exec_time(debug=False,
                                                                               corruption_percentages=[0.2, 0.5, 0.9],
                                                                               corrupt_features=["age", "workclass", "education"],
                                                                               repeats=30)
save_to_csv(credit_corruption_naive_exec_times, "credit_corruption_naive_exec_times")
credit_corruption_naive_exec_times

Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!

     runtimes
0   18.230211
1   17.330303
2   17.161072
3   17.288931
4   17.353135
5   17.372030
6   17.407266
7   17.602283
8   17.220136
9   17.452488
10  17.405909
11  17.254174
12  17.256136
13  17.753028
14  17.170592
15  17.222116
16  17.416110
17  17.282800
18  17.345332
19  17.255262
20  17.218784
21  18.592653
22  17.349513
23  17.326500
24  17.373006
25  17.386585
26  17.446683
27  17.258105
28  17.261693
29  17.333187

In [5]:
# Other params hard-coded currently
# corruption_percentages=[0.2, 0.5, 0.9], corrupt_features=["age", "workclass", "education"]
corruption_qualitative_credit_corruption_opt = do_credit_corruption_opt(debug=False)
save_to_csv(corruption_qualitative_credit_corruption_opt, "corruption_qualitative_credit_corruption_opt")
corruption_qualitative_credit_corruption_opt

,test_corruption,train_corruption,corruption_fraction,feature,accuracy,non_protected_fnr,protected_fnr
0,False,False,NaN,None,0.819847,0.308753,0.404624
1,True,False,0.2,age,0.712878,0.580572,0.719368
2,True,False,0.5,age,0.554476,0.683590,0.811047
3,True,False,0.9,age,0.339482,0.735506,0.843093
4,True,False,0.2,workclass,0.818723,0.308360,0.408284
5,True,False,0.5,workclass,0.817929,0.308375,0.393750
6,True,False,0.9,workclass,0.815682,0.306338,0.398693
7,True,False,0.2,education,0.816541,0.305214,0.375796
8,True,False,0.5,education,0.810922,0.293746,0.387324
9,True,False,0.9,education,0.805699,0.262465,0.330097
10,True,True,0.2,age,0.818260,0.302632,0.378049
11,True,True,0.5,age,0.813103,0.361579,0.434579
12,True,True,0.9,age,0.815814,0.248249,0.323077
13,True,True,0.2,workclass,0.821103,0.289789,0.390244
14,True,True,0.5,workclass,0.817929,0.310855,0.397661
15,True,True,0.9,workclass,0.811252,0.271318,0.345455
16,True,True,0.2,education,0.815417,0.349192,0.415842
17,True,True,0.5,education,0.805170,0.367910,0.459459
18,True,True,0.9,education,0.806823,0.329545,0.442177

In [6]:
# Other params hard-coded currently
# corruption_percentages=[0.2, 0.5, 0.9], corrupt_features=["age", "workclass", "education"]review_corruption_opt_exec_times = measure_review_corruption_opt_exec_time(debug=True, repeats=30)
credit_corruption_opt_exec_times = measure_credit_corruption_opt_exec_time(debug=False, repeats=30)
save_to_csv(credit_corruption_opt_exec_times, "credit_corruption_opt_exec_times")
credit_corruption_opt_exec_times

Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!

    runtimes
0   2.557463
1   2.622522
2   2.556416
3   2.601470
4   2.579130
5   2.645280
6   2.569172
7   2.552246
8   2.554956
9   2.669103
10  2.602117
11  2.576057
12  2.497820
13  2.614823
14  2.548035
15  2.661188
16  2.656745
17  2.732543
18  2.698642
19  2.655854
20  2.504698
21  2.662375
22  2.598698
23  2.564513
24  2.571215
25  2.642897
26  2.583714
27  3.008889
28  3.727998
29  4.064366