In [1]:
from whatif.experiments.credit_data_corruptions_naive import do_credit_corruption_naive, \
    measure_credit_corruption_naive_exec_time
from whatif.experiments.credit_data_corruptions_opt import do_credit_corruption_opt, \
    measure_credit_corruption_opt_exec_time
from whatif.experiments.helpful_reviews_data_corruptions_naive import do_review_corruption_naive, \
    measure_review_corruption_naive_exec_time
from whatif.experiments.helpful_reviews_data_corruptions_opt import do_review_corruption_opt, \
    measure_review_corruption_opt_exec_time
from whatif.utils.utils import get_project_root

def save_to_csv(df, filename):
    df.to_csv(f'{str(get_project_root())}/whatif/experiments/datasets/sneakers/{filename}.csv',
              index=False)

In [2]:
corruption_qualitative_review_corruption_naive = do_review_corruption_naive(debug=False,
                                                                          corruption_percentages=[0.2, 0.5, 0.9],
                                                                          corrupt_features=["star_rating", "verified_purchase", "review_headline"])
save_to_csv(corruption_qualitative_review_corruption_naive, "corruption_qualitative_review_corruption_naive")
corruption_qualitative_review_corruption_naive

,test_corruption,train_corruption,corruption_fraction,feature,roc_auc,f1
0,False,False,NaN,None,0.601900,0.595836
1,False,True,0.2,star_rating,0.592103,0.592516
2,True,True,0.2,star_rating,0.593287,0.535685
3,False,True,0.5,star_rating,0.584115,0.591470
4,True,True,0.5,star_rating,0.569499,0.571836
5,False,True,0.9,star_rating,0.567841,0.517675
6,True,True,0.9,star_rating,0.588615,0.551218
7,False,True,0.2,verified_purchase,0.603107,0.592270
8,True,True,0.2,verified_purchase,0.602677,0.589833
9,False,True,0.5,verified_purchase,0.602724,0.581546
10,True,True,0.5,verified_purchase,0.599308,0.569086
11,False,True,0.9,verified_purchase,0.605348,0.593446
12,True,True,0.9,verified_purchase,0.606051,0.590328
13,False,True,0.2,review_headline,0.605845,0.597984
14,True,True,0.2,review_headline,0.605210,0.597759
15,False,True,0.5,review_headline,0.598977,0.583606
16,True,True,0.5,review_headline,0.598541,0.577877
17,False,True,0.9,review_headline,0.598879,0.595570
18,True,True,0.9,review_headline,0.607696,0.613544

In [3]:
review_corruption_naive_exec_times = measure_review_corruption_naive_exec_time(debug=False,
                                                                               corruption_percentages=[0.2, 0.5, 0.9],
                                                                               corrupt_features=["star_rating", "verified_purchase", "review_headline"],
                                                                               repeats=30)
save_to_csv(review_corruption_naive_exec_times, "review_corruption_naive_exec_times")
review_corruption_naive_exec_times

Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!

     runtimes
0   76.868191
1   73.025943
2   73.020122
3   72.676763
4   72.605270
5   72.389871
6   72.665069
7   72.484092
8   72.133285
9   72.468354
10  72.602636
11  72.112036
12  72.399783
13  72.418259
14  73.655586
15  73.032610
16  72.606631
17  72.591323
18  72.488645
19  72.422779
20  72.577077
21  72.789030
22  73.058751
23  72.420273
24  72.249086
25  72.674936
26  72.571691
27  72.844578
28  72.026914
29  72.147342

In [4]:
# Other params hard-coded currently
# corruption_percentages=[0.2, 0.5, 0.9], corrupt_features=["star_rating", "verified_purchase", "review_headline"]
corruption_qualitative_review_corruption_opt = do_review_corruption_opt(debug=False)
save_to_csv(corruption_qualitative_review_corruption_opt, "corruption_qualitative_review_corruption_opt")
corruption_qualitative_review_corruption_opt

,test_corruption,train_corruption,corruption_fraction,feature,roc_auc,f1
0,False,False,NaN,None,0.602678,0.591443
1,True,False,0.2,star_rating,0.586605,0.588328
2,True,False,0.5,star_rating,0.576815,0.584005
3,True,False,0.9,star_rating,0.551084,0.509179
4,True,False,0.2,verified_purchase,0.602678,0.591443
5,True,False,0.5,verified_purchase,0.602678,0.591443
6,True,False,0.9,verified_purchase,0.602678,0.591443
7,True,False,0.2,review_headline,0.604129,0.592139
8,True,False,0.5,review_headline,0.604981,0.593797
9,True,False,0.9,review_headline,0.602868,0.589660
10,True,True,0.2,star_rating,0.584944,0.580844
11,True,True,0.5,star_rating,0.558878,0.554536
12,True,True,0.9,star_rating,0.538660,0.524983
13,True,True,0.2,verified_purchase,0.605462,0.605409
14,True,True,0.5,verified_purchase,0.607183,0.608677
15,True,True,0.9,verified_purchase,0.597661,0.557834
16,True,True,0.2,review_headline,0.603235,0.595027
17,True,True,0.5,review_headline,0.599058,0.570024
18,True,True,0.9,review_headline,0.596965,0.558745

In [5]:
# Other params hard-coded currently
# corruption_percentages=[0.2, 0.5, 0.9], corrupt_features=["star_rating", "verified_purchase", "review_headline"]
review_corruption_opt_exec_times = measure_review_corruption_opt_exec_time(debug=False, repeats=30)  # 30
save_to_csv(review_corruption_opt_exec_times, "review_corruption_opt_exec_times")
review_corruption_opt_exec_times

Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!

     runtimes
0   12.293456
1   12.139176
2   12.249174
3   12.150002
4   12.220646
5   12.455029
6   12.232509
7   11.942934
8   11.962310
9   12.180232
10  12.155624
11  11.910163
12  12.205776
13  12.061536
14  11.914337
15  12.183774
16  12.032335
17  12.039517
18  11.806576
19  12.015095
20  12.166932
21  12.001174
22  12.146628
23  12.398182
24  11.984031
25  12.071094
26  12.154354
27  11.958652
28  12.322606
29  12.156041

In [6]:
corruption_qualitative_credit_corruption_naive = do_credit_corruption_naive(debug=False,
                                                                          corruption_percentages=[0.2, 0.5, 0.9],
                                                                          corrupt_features=["age", "workclass", "education"])
save_to_csv(corruption_qualitative_credit_corruption_naive, "corruption_qualitative_credit_corruption_naive")
corruption_qualitative_credit_corruption_naive

,test_corruption,train_corruption,corruption_fraction,feature,accuracy,non_protected_fnr,protected_fnr
0,False,False,NaN,None,0.819186,0.296254,0.385093
1,False,True,0.2,age,0.714597,0.573124,0.704797
2,True,True,0.2,age,0.816673,0.307516,0.393939
3,False,True,0.5,age,0.569483,0.677443,0.798597
4,True,True,0.5,age,0.816673,0.312395,0.389222
5,False,True,0.9,age,0.288113,0.749770,0.851007
6,True,True,0.9,age,0.817268,0.294046,0.385093
7,False,True,0.2,workclass,0.820041,0.340962,0.410628
8,True,True,0.2,workclass,0.816685,0.356034,0.424893
9,False,True,0.5,workclass,0.814895,0.354067,0.457364
10,True,True,0.5,workclass,0.819736,0.318961,0.412371
11,False,True,0.9,workclass,0.809977,0.266892,0.324561
12,True,True,0.9,workclass,0.817755,0.292421,0.364198
13,False,True,0.2,education,0.818657,0.319193,0.391813
14,True,True,0.2,education,0.806757,0.402827,0.489209
15,False,True,0.5,education,0.807219,0.287758,0.378151
16,True,True,0.5,education,0.813368,0.332443,0.418994
17,False,True,0.9,education,0.808608,0.307317,0.386861
18,True,True,0.9,education,0.810922,0.328879,0.405063

In [7]:
credit_corruption_naive_exec_times = measure_credit_corruption_naive_exec_time(debug=False,
                                                                               corruption_percentages=[0.2, 0.5, 0.9],
                                                                               corrupt_features=["age", "workclass", "education"],
                                                                               repeats=30)
save_to_csv(credit_corruption_naive_exec_times, "credit_corruption_naive_exec_times")
credit_corruption_naive_exec_times

Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!

     runtimes
0   17.075577
1   17.237360
2   16.774983
3   17.158882
4   17.116971
5   16.344717
6   16.495479
7   16.541877
8   16.975463
9   16.755046
10  17.126224
11  17.124791
12  16.907091
13  17.126883
14  16.852674
15  16.591926
16  17.206223
17  17.200209
18  17.091002
19  18.755778
20  17.587851
21  16.904812
22  17.140537
23  17.268586
24  16.594988
25  16.812165
26  18.739522
27  18.855052
28  17.637204
29  16.823794

In [8]:
# Other params hard-coded currently
# corruption_percentages=[0.2, 0.5, 0.9], corrupt_features=["age", "workclass", "education"]
corruption_qualitative_credit_corruption_opt = do_credit_corruption_opt(debug=False)
save_to_csv(corruption_qualitative_credit_corruption_opt, "corruption_qualitative_credit_corruption_opt")
corruption_qualitative_credit_corruption_opt

,test_corruption,train_corruption,corruption_fraction,feature,accuracy,non_protected_fnr,protected_fnr
0,False,False,NaN,None,0.820376,0.319684,0.416216
1,True,False,0.2,age,0.704747,0.584852,0.738516
2,True,False,0.5,age,0.529023,0.694636,0.822624
3,True,False,0.9,age,0.287849,0.749812,0.847296
4,True,False,0.2,workclass,0.819847,0.317444,0.407609
5,True,False,0.5,workclass,0.818591,0.311493,0.402367
6,True,False,0.9,workclass,0.817401,0.304000,0.404908
7,True,False,0.2,education,0.817731,0.313853,0.400000
8,True,False,0.5,education,0.814558,0.297710,0.371622
9,True,False,0.9,education,0.807484,0.282787,0.336283
10,True,True,0.2,age,0.816012,0.336296,0.410811
11,True,True,0.5,age,0.812640,0.339126,0.404494
12,True,True,0.9,age,0.815946,0.337313,0.390374
13,True,True,0.2,workclass,0.819714,0.281500,0.364238
14,True,True,0.5,workclass,0.820574,0.314937,0.406593
15,True,True,0.9,workclass,0.820045,0.293583,0.410714
16,True,True,0.2,education,0.810855,0.355675,0.424731
17,True,True,0.5,education,0.810128,0.294789,0.370968
18,True,True,0.9,education,0.804310,0.318216,0.372881

In [9]:
# Other params hard-coded currently
# corruption_percentages=[0.2, 0.5, 0.9], corrupt_features=["age", "workclass", "education"]review_corruption_opt_exec_times = measure_review_corruption_opt_exec_time(debug=True, repeats=30)
credit_corruption_opt_exec_times = measure_credit_corruption_opt_exec_time(debug=False, repeats=30)
save_to_csv(credit_corruption_opt_exec_times, "credit_corruption_opt_exec_times")
credit_corruption_opt_exec_times

Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!
Done!

    runtimes
0   2.537927
1   3.228171
2   3.441829
3   3.173383
4   3.218125
5   3.145321
6   3.089305
7   2.992777
8   3.023381
9   3.372228
10  2.814370
11  2.542049
12  3.417352
13  3.488850
14  3.481830
15  3.170567
16  3.379951
17  3.271350
18  3.239000
19  3.086086
20  3.435977
21  3.497338
22  2.886771
23  3.463263
24  2.861996
25  3.282384
26  2.637295
27  2.563008
28  2.494525
29  2.566594